.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
    vertical-align: auto;

}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f5f4f8;
    font-size: 20px;
}

aside img {
    width: 500px;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 40px;
    }
    #blogdetailtitle {
        font-size: 10px;
    }
}

